<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home 🏡</a></li>
        		<li><a href="/resume">Resume 📑</a></li>
        		<li><a href="/projects">Projects 🚀</a></li>
    		</ul>
		</nav>
		<div class="container">

    {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:malcolm.d.hodgins@gmail.com">Email 📧</a></li>
        		<li><a href="https://github.com/MalcolmHodgins">GitHub 📚</a></li>
						<li><a href="https://www.linkedin.com/in/malcolm-hodgins/">LinkedIn<a class="fa fa-linkedin"></a></a></li>
			</ul>
		</footer>
	</body>
</html>
